{% extends 'client/index.html' %}
{% load static %}
{% block ironmongery %}
    <section class="container-lg">
        <div class="row row-cols-1">
            <div class="col">
                {% if ironmongery.banner %}
                    <img class="img-fluid w-100 object-fit-cover rounded-2" style="max-height: 25rem" src="{{ ironmongery.banner.url }}" alt="img">
                {% else %}
                    <img class="img-fluid w-100 object-fit-cover rounded-2" style="max-height: 25rem" src=" {% static 'img/bg-1.jpg' %} " alt="img">
                {% endif %}
            </div>
            <div class="col">
                <div class="container-sm">
                    <div class="row gx-md-5 px-md-5">
                        <div class="col col-4 col-md-3 col-lg-2 d-lg-flex justify-content-center">
                            <img class="rounded-circle object-fit-contain img-fluid" style="height: 12rem; width: 12rem; transform: translateY(-4rem)" src="{{ ironmongery.logo.url }}" alt="img">
                        </div>
                        <div class="col col-8 col-md-9 col-lg-10">
                            <h4 class="mt-4 fw-semibold text-dark-2">{{ ironmongery.name }}</h4>
                            <div class="d-flex gap-3 text-dark-4">
                                <i class="fi fi-rr-phone-flip"></i>
                                <h6 class="mb-0">{{ ironmongery.phone }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid bg-white-3 rounded-2 pb-4">
        <div class="container-sm">
            <div class="row gy-3 gx-md-4">
                <div class="col col-12 col-md-9 my-0">
                    <div class="row row-cols-1 m-0 px-2">
                        <div class="col mt-3">
                            <h5 class="text-dark-5 fw-light">Listado de categorias</h5>
                        </div>
                        <div class="col">
                            <div class="row">
                                {% for category, product in categories_with_products %}
                                    <div class="col col-6 col-md-4 col-lg-3 col-xl-2 hover-scale-1 mt-4" style="max-height: 14rem;">
                                        <a href="{% url 'ironmongeryApp:product_category_page' ironmongery.pk category.pk %}" class="text-decoration-none">
                                            <div class="card border-0 d-flex flex-column justify-content-between h-100 gap-3 px-1 py-1">
                                                <img src="{{ product.image.url }}" class="card-img-top object-fit-cover h-100" style="max-height: 11rem"  alt="{{ product.name }}">
                                                <h5 class="card-title text-center">{{ category.name }}</h5>
                                            </div>
                                        </a>
                                    </div>
                                {% empty %}
                                    <div class="col col-12">
                                        <h5 class="fw-normal mb-3">De momento no hay categorias</h5>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-md-3">
                    <div class="row m-0 py-3 px-2 bg-white-1 rounded-2">
                        <div class="col">
                            <h5>Detalles de Ubicación</h5>
                            <h4 class="fw-bold mt-4">{{ ironmongery.name }}</h4>
                            <p class="fw-light fst-italic">{{ ironmongery.fk_location.street }}, {{ ironmongery.fk_location.colony }}, {{ ironmongery.fk_location.city }}, CP {{ ironmongery.fk_location.postal_code }}</p>

                            <div id="map" style="height: 300px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Leaflet.js CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <script>
        const lat = {{ ironmongery.fk_location.latitude|default:"0" }};
        const lng = {{ ironmongery.fk_location.longitude|default:"0" }};

        const map = L.map('map').setView([lat, lng], 15);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        L.marker([lat, lng]).addTo(map)
            .bindPopup('{{ ironmongery.name }}')
            .openPopup();
    </script>
{% endblock ironmongery %}